<h2 class="mb-3">Form Layouts</h2>
<div class="card mb-3 rounded-0 shadow-sm">
    <div class="card-body">

        <h5 class="card-title">Inline form</h5>

        <!-- Inline Form -->
        <form class="row row-cols-md-auto g-3 align-items-center">
            <div class="col-12">
                <label for="_dm-staticEmail" class="visually-hidden">Email</label>
                <input type="text" class="form-control" id="_dm-inputEmail" placeholder="Email">
            </div>
            <div class="col-12">
                <label for="_dm-inputPassword" class="visually-hidden">Password</label>
                <input type="password" class="form-control" id="_dm-inputPassword" placeholder="Password">
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input id="_dm-rememberCheck" class="form-check-input" type="checkbox">
                    <label for="_dm-rememberCheck" class="form-check-label">
                        Remember Me
                    </label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Confirm identity</button>
            </div>
        </form>
        <!-- END : Inline Form -->

    </div>
</div>

<section>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card h-100 rounded-0 shadow-sm">
                <div class="card-body">

                    <h5 class="card-title">Block styled form</h5>

                    <!-- Block styled form -->
                    <form class="row g-3">
                        <div class="col-md-6">
                            <label for="_dm-inputEmail2" class="form-label">Email</label>
                            <input id="_dm-inputEmail2" type="email" class="form-control">
                        </div>

                        <div class="col-md-6">
                            <label for="_dm-inputPassword2" class="form-label">Password</label>
                            <input id="_dm-inputPassword2" type="password" class="form-control">
                        </div>

                        <div class="col-12">
                            <label for="_dm-inputAddress" class="form-label">Address</label>
                            <input id="_dm-inputAddress" type="text" class="form-control" placeholder="1234 Main St">
                        </div>

                        <div class="col-12">
                            <label for="_dm-inputAddress2" class="form-label">Address 2</label>
                            <input id="_dm-inputAddress2" type="text" class="form-control"
                                placeholder="Apartment, studio, or floor">
                        </div>

                        <div class="col-md-6">
                            <label for="_dm-inputCity" class="form-label">City</label>
                            <input id="_dm-inputCity" type="text" class="form-control">
                        </div>

                        <div class="col-md-4">
                            <label for="inputState" class="form-label">State</label>
                            <select id="inputState" class="form-select">
                                <option selected>Choose...</option>
                                <option>State 1</option>
                                <option>State 2</option>
                                <option>State 3</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label for="_dm-inputZip" class="form-label">Zip</label>
                            <input id="_dm-inputZip" type="text" class="form-control">
                        </div>

                        <div class="col-12">
                            <div class="form-check">
                                <input id="_dm-gridCheck" class="form-check-input" type="checkbox">
                                <label for="_dm-gridCheck" class="form-check-label">
                                    Check me out
                                </label>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </form>
                    <!-- END : Block styled form -->

                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card h-100 rounded-0 shadow-sm">
                <div class="card-body">

                    <h5 class="card-title">Horizontal form</h5>

                    <!-- Horizontal Form -->
                    <form>
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="_dm-inputAddress3" class="col-sm-2 form-label">Address</label>
                            <div class="col-sm-10">
                                <input id="_dm-inputAddress3" type="text" class="form-control"
                                    placeholder="1234 Main St">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="_dm-inputAddress4" class="col-sm-2 col-form-label">Address 2</label>
                            <div class="col-sm-10">
                                <input id="_dm-inputAddress4" type="text" class="form-control"
                                    placeholder="Apartment, studio, or floor">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="_dm-inputCity2" class="col-sm-2 col-form-label">City</label>
                            <div class="col-sm-10">
                                <input id="_dm-inputCity2" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <div class="form-check">
                                    <input id="_dm-rememberCheck3" class="form-check-input" type="checkbox">
                                    <label for="_dm-rememberCheck3" class="form-check-label">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                    <!-- END : Horizontal Form -->

                </div>
            </div>
        </div>
    </div>
</section>

<h2 class="mt-5 mb-3">Form Sizing</h2>
<section>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card h-100 rounded-0 shadow-sm">
                <div class="card-body">

                    <h5 class="card-title">Input size</h5>

                    <!-- Horizontal form label sizing -->
                    <div class="row mb-3">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control form-control-sm" id="colFormLabelSm"
                                placeholder="col-form-label-sm">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control form-control-lg" id="colFormLabelLg"
                                placeholder="col-form-label-lg">
                        </div>
                    </div>
                    <!-- END : Horizontal form label sizing -->

                    <!-- Grid Input Size -->
                    <div class="row mb-3">
                        <label for="_dm-inputGrid1" class="col-2 col-form-label">Grid Input</label>
                        <div class="col-5">
                            <input id="_dm-inputGrid1" type="text" class="form-control" placeholder=".col-5">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-7 offset-2">
                            <input id="_dm-inputGrid1" type="text" class="form-control" placeholder=".col-7">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-9 offset-2">
                            <input id="_dm-inputGrid1" type="text" class="form-control" placeholder=".col-9">
                        </div>
                    </div>
                    <!-- END : Grid Input Size -->

                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card h-100 rounded-0 shadow-sm">
                <div class="card-body">

                    <h5 class="card-title">No label form</h5>

                    <!-- No Label Form -->
                    <div class="row g-3">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" placeholder="Name" aria-label="Name">
                        </div>

                        <div class="col-sm">
                            <input type="email" class="form-control" placeholder="Email" aria-label="Email">
                        </div>

                        <div class="col-sm">
                            <input type="text" class="form-control" placeholder="Website" aria-label="Website">
                        </div>

                        <div class="col-sm-12">
                            <textarea class="form-control" placeholder="Message" rows="14"></textarea>
                        </div>
                    </div>
                    <!-- END : No Label Form -->

                </div>
            </div>
        </div>
    </div>
</section>

<h2 class="mt-5 mb-3">Floating labels <span class="badge bg-info">New</span></h2>
<section>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card h-100 rounded-0 shadow-sm">
                <div class="card-body">

                    <h5 class="card-title">Input</h5>

                    <!-- Floating label on input field -->
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>

                    <form class="form-floating">
                        <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com"
                            value="test@example.com">
                        <label for="floatingInputValue">Input with value</label>
                    </form>
                    <!-- END : Floating label on input field -->

                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card h-100 rounded-0 shadow-sm">
                <div class="card-body">

                    <h5 class="card-title">Select and textarea</h5>

                    <!-- Floating label on select -->
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="floatingSelect">Works with selects</label>
                    </div>
                    <!-- END : Floating label on select -->

                    <!-- Floating label on textarea -->
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 140px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                    <!-- END : Floating label on textarea -->

                </div>
            </div>
        </div>
    </div>
</section>

<h2 class="mt-5 mb-3">Input Groups</h2>
<section>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card h-100 rounded-0 shadow-sm">
                <div class="card-body">

                    <h5 class="card-title">Icons Addons</h5>

                    <!-- Icons Addons -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="demo-pli-star"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Folder Name"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2">
                            <i class="demo-pli-inbox-full"></i>
                        </span>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="demo-pli-coin"></i>
                        </span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                            placeholder="Earning">
                        <span class="input-group-text">.00</span>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                        <span class="input-group-text">@</span>
                        <input type="text" class="form-control" placeholder="Server" aria-label="Server">
                    </div>
                    <!-- END : Icons Addons -->

                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card h-100 rounded-0 shadow-sm">
                <div class="card-body">

                    <h5 class="card-title">Buttons Addons</h5>

                    <div class="input-group mb-3">
                        <button class="btn btn-warning" type="button" id="button-addon1">Button</button>
                        <input type="text" class="form-control" placeholder=""
                            aria-label="Example text with button addon" aria-describedby="button-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recipient's username"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-info" type="button" id="button-addon2">Button</button>
                    </div>

                    <div class="input-group mb-3">
                        <button class="btn btn-secondary" type="button">Button</button>
                        <button class="btn btn-secondary" type="button">Button</button>
                        <input type="text" class="form-control" placeholder=""
                            aria-label="Example text with two button addons">
                    </div>

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Recipient's username"
                            aria-label="Recipient's username with two button addons">
                        <button class="btn btn-success" type="button">Button</button>
                        <button class="btn btn-success" type="button">Button</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card h-100 rounded-0 shadow-sm">
                <div class="card-body">

                    <h5 class="card-title">Checkboxes and radio addons</h5>

                    <!-- Checkbox addons -->
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value=""
                                aria-label="Checkbox for following text input">
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with checkbox">
                    </div>
                    <!-- END : Checkbox addons -->

                    <!-- Radio addons-->
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="radio" name="radio-input-grpup"
                                aria-label="Radio button for following text input">
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                    </div>

                    <div class="input-group">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="radio" name="radio-input-grpup"
                                aria-label="Radio button for following text input">
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                    </div>
                    <!-- END : Radio addons-->

                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card h-100 rounded-0 shadow-sm">
                <div class="card-body">

                    <h5 class="card-title">Dropdowns Addons</h5>

                    <!-- Dropdown Addons -->
                    <div class="input-group mb-3">
                        <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Dropdown</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Dropdown</button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>

                    <div class="input-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Dropdown</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action before</a></li>
                            <li><a class="dropdown-item" href="#">Another action before</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                        <input type="text" class="form-control" aria-label="Text input with 2 dropdown buttons">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <!-- END : Dropdown Addons -->

                </div>
            </div>
        </div>
    </div>
</section>

<h2 class="mt-5 mb-3">Validation</h2>
<section>
    <div class="card h-100 rounded-0 shadow-sm">
        <div class="card-body">

            <h5 class="card-title">Validation States</h5>

            <form class="row g-3">
                <div class="col-md-4">
                    <label for="validationServer01" class="form-label">First name</label>
                    <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationServer02" class="form-label">Last name</label>
                    <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationServerUsername" class="form-label">Username</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend3">@</span>
                        <input type="text" class="form-control is-invalid" id="validationServerUsername"
                            aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationServer03" class="form-label">City</label>
                    <input type="text" class="form-control is-invalid" id="validationServer03"
                        aria-describedby="validationServer03Feedback" required>
                    <div id="validationServer03Feedback" class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationServer04" class="form-label">State</label>
                    <select class="form-select is-invalid" id="validationServer04"
                        aria-describedby="validationServer04Feedback" required>
                        <option selected disabled value="">Choose...</option>
                        <option>...</option>
                    </select>
                    <div id="validationServer04Feedback" class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationServer05" class="form-label">Zip</label>
                    <input type="text" class="form-control is-invalid" id="validationServer05"
                        aria-describedby="validationServer05Feedback" required>
                    <div id="validationServer05Feedback" class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3"
                            aria-describedby="invalidCheck3Feedback" required>
                        <label class="form-check-label" for="invalidCheck3">
                            Agree to terms and conditions
                        </label>
                        <div id="invalidCheck3Feedback" class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>

        </div>
    </div>
</section>

<h2 class="mt-5 mb-3">Form elements</h2>
<section>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card h-100 rounded-0 shadow-sm">
                <div class="card-body">

                    <h5 class="card-title">Default state</h5>

                    <!-- Static Input -->
                    <div class="row mb-3">
                        <label for="_dm-staticInput" class="col-sm-3 col-form-label">Static</label>
                        <div class="col-sm-9">
                            <input id="_dm-staticInput" type="email" class="form-control-plaintext" value="username">
                        </div>
                    </div>
                    <!-- END : Static Input -->

                    <!-- Text input -->
                    <div class="row mb-3">
                        <label for="_dm-textInput" class="col-sm-3 col-form-label">Text Input</label>
                        <div class="col-sm-9">
                            <input id="_dm-textInput" type="text" class="form-control" placeholder="Default Input">
                        </div>
                    </div>
                    <!-- END : Text input -->

                    <!-- Text input with help -->
                    <div class="row mb-3">
                        <label for="_dm-textInputWitHelp" class="col-sm-3 form-label">With Help</label>
                        <div class="col-sm-9">
                            <input id="_dm-textInputWitHelp" type="text" class="form-control"
                                placeholder="Input with help" aria-describedby="inputHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                    </div>
                    <!-- END : Text input with help -->

                    <!-- Floating label -->
                    <div class="row mb-3">
                        <label for="_dm-floatingInput" class="col-sm-3 form-label">Floating label</label>
                        <div class="col-sm-9">
                            <div class="form-floating mb-3">
                                <input id="dm_floatingInput" type="text" class="form-control" placeholder="Username">
                                <label for="dm_floatingInput">Username</label>
                            </div>
                        </div>
                    </div>
                    <!-- END : Floating label -->

                    <!-- Readonly -->
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Readonly</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" value="Readonly input here..."
                                aria-label="readonly input example" readonly>
                        </div>
                    </div>
                    <!-- END : Readonly -->

                    <!-- Textarea -->
                    <div class="row mb-3">
                        <label for="_dm-textareaInput" class="col-sm-3 col-form-label">Textarea</label>
                        <div class="col-sm-9">
                            <textarea id="_dm-textareaInput" class="form-control" placeholder="Textarea"
                                rows="5"></textarea>
                        </div>
                    </div>
                    <!-- END : Textarea -->

                    <!-- Checkboxes -->
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Checkboxes</label>
                        <div class="col-sm-9 py-2">
                            <div class="form-check mb-2">
                                <input id="_dm-blockCheckboxes" class="form-check-input" type="checkbox" checked>
                                <label for="_dm-blockCheckboxes" class="form-check-label">
                                    Option 1 (pre-checked)
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input id="_dm-blockCheckbox2" class="form-check-input" type="checkbox">
                                <label for="_dm-blockCheckbox2" class="form-check-label">
                                    Option 2
                                </label>
                            </div>

                            <div class="form-check">
                                <input id="_dm-blockCheckbox3" class="form-check-input" type="checkbox">
                                <label for="_dm-blockCheckbox3" class="form-check-label">
                                    Option 3
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- END : Checkboxes -->

                    <!-- Inline Checkboxes-->
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Inline Checkboxes</label>
                        <div class="col-sm-9 pt-3">
                            <div class="form-check form-check-inline">
                                <input id="_dm-inlineCheckboxes" class="form-check-input" type="checkbox"
                                    autocomplete="off" value="option1" checked>
                                <label for="_dm-inlineCheckboxes" class="form-check-label">Pre-checked</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input id="_dm-inlineCheckboxes2" class="form-check-input" type="checkbox"
                                    autocomplete="off" value="option2">
                                <label for="_dm-inlineCheckboxes2" class="form-check-label">Option 2</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input id="_dm-inlineCheckboxes3" class="form-check-input" type="checkbox"
                                    autocomplete="off" value="option3">
                                <label for="_dm-inlineCheckboxes3" class="form-check-label">Option 3</label>
                            </div>
                        </div>
                    </div>
                    <!-- END : Inline Checkboxes-->

                    <!-- Radios -->
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Radios</label>
                        <div class="col-sm-9 pt-3">
                            <div class="form-check mb-2">
                                <input id="_dm-blockRadios" class="form-check-input" type="radio"
                                    name="radioBlockDefault" checked>
                                <label for="_dm-blockRadios" class="form-check-label">
                                    Option 1 ( Pre-checked )
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input id="_dm-blockRadios2" class="form-check-input" type="radio"
                                    name="radioBlockDefault">
                                <label for="_dm-blockRadios2" class="form-check-label">
                                    Option 2
                                </label>
                            </div>

                            <div class="form-check">
                                <input id="_dm-blockRadios3" class="form-check-input" type="radio"
                                    name="radioBlockDefault">
                                <label for="_dm-blockRadios3" class="form-check-label">
                                    Option 3
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- END : Radios -->

                    <!-- Inline Radios -->
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Inline radios</label>
                        <div class="col-sm-9 pt-3">
                            <div class="form-check form-check-inline">
                                <input id="_dm-inlineRadio1" class="form-check-input" type="radio"
                                    name="inlineRadioOptions" value="option1" checked>
                                <label for="_dm-inlineRadio1" class="form-check-label">Pre-checked</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input id="_dm-inlineRadio2" class="form-check-input" type="radio"
                                    name="inlineRadioOptions" value="option2">
                                <label for="_dm-inlineRadio2" class="form-check-label">Option 2</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input id="_dm-inlineRadio3" class="form-check-input" type="radio"
                                    name="inlineRadioOptions" value="option3">
                                <label for="_dm-inlineRadio3" class="form-check-label">Option 3</label>
                            </div>
                        </div>
                    </div>
                    <!-- END : Inline Radios -->

                    <!-- File Input -->
                    <div class="row mb-3">
                        <label for="_dm-fileInput" class="col-sm-3 col-form-label">File input</label>
                        <div class="col-sm-9">
                            <input id="_dm-fileInput" class="form-control" type="file">
                        </div>
                    </div>
                    <!-- END : File Input -->

                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card h-100 rounded-0 shadow-sm">
                <div class="card-body">

                    <h5 class="card-title">Disabled</h5>

                    <!-- Disabled static Input -->
                    <div class="row mb-3">
                        <label for="_dm-disabledStaticInput" class="col-sm-3 col-form-label">Static</label>
                        <div class="col-sm-9">
                            <input id="_dm-disabledStaticInput" type="email" class="form-control-plaintext"
                                value="username" disabled>
                        </div>
                    </div>
                    <!-- END : Disabled static Input -->

                    <!-- Disabled text input -->
                    <div class="row mb-3">
                        <label for="_dm-disabledTextInput" class="col-sm-3 col-form-label">Text Input</label>
                        <div class="col-sm-9">
                            <input id="_dm-disabledTextInput" type="text" class="form-control"
                                placeholder="Default Input" disabled>
                        </div>
                    </div>
                    <!-- END : Disabled text input -->

                    <!-- Disabled text input with help -->
                    <div class="row mb-3">
                        <label for="_dm-disabledTextInputWitHelp" class="col-sm-3 form-label">With Help</label>
                        <div class="col-sm-9">
                            <input id="_dm-disabledTextInputWitHelp" type="text" class="form-control"
                                placeholder="Input with help" aria-describedby="inputHelp" disabled>
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                    </div>
                    <!-- END : Disabled text input with help -->

                    <!-- Disabled floating label -->
                    <div class="row mb-3">
                        <label for="_dm-disabledFloatingInput" class="col-sm-3 form-label">Floating label</label>
                        <div class="col-sm-9">
                            <div class="form-floating mb-3">
                                <input id="dm_disabledFloatingInput" type="text" class="form-control"
                                    placeholder="Username" disabled>
                                <label for="dm_disabledFloatingInput">Username</label>
                            </div>
                        </div>
                    </div>
                    <!-- END : Disabled floating label -->

                    <!-- Disabled readonly -->
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Readonly</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" value="Readonly input here..."
                                aria-label="readonly input example" readonly disabled>
                        </div>
                    </div>
                    <!-- END : Disabled readonly -->

                    <!-- Disabled textarea -->
                    <div class="row mb-3">
                        <label for="_dm-disabledTextareaInput" class="col-sm-3 col-form-label">Textarea</label>
                        <div class="col-sm-9">
                            <textarea id="_dm-disabledTextareaInput" class="form-control" placeholder="Textarea"
                                rows="5" disabled></textarea>
                        </div>
                    </div>
                    <!-- END : Disabled textarea -->

                    <!-- Disabled checkboxes -->
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Checkboxes</label>
                        <div class="col-sm-9 py-2">
                            <div class="form-check mb-2">
                                <input id="_dm-disabledBlockCheckboxes" class="form-check-input" type="checkbox" checked
                                    disabled>
                                <label for="_dm-disabledBlockCheckboxes" class="form-check-label">
                                    Option 1 (pre-checked)
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input id="_dm-disabledBlockCheckbox2" class="form-check-input" type="checkbox"
                                    disabled>
                                <label for="_dm-disabledBlockCheckbox2" class="form-check-label">
                                    Option 2
                                </label>
                            </div>

                            <div class="form-check">
                                <input id="_dm-disabledBlockCheckbox3" class="form-check-input" type="checkbox"
                                    disabled>
                                <label for="_dm-disabledBlockCheckbox3" class="form-check-label">
                                    Option 3
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- END : Disabled checkboxes -->

                    <!-- Disabled inline checkboxes-->
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Inline Checkboxes</label>
                        <div class="col-sm-9 pt-3">
                            <div class="form-check form-check-inline">
                                <input id="_dm-disabledInlineCheckboxes" class="form-check-input" type="checkbox"
                                    autocomplete="off" value="option1" checked disabled>
                                <label for="_dm-disabledInlineCheckboxes" class="form-check-label">Pre-checked</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input id="_dm-disabledInlineCheckboxes2" class="form-check-input" type="checkbox"
                                    autocomplete="off" value="option2" disabled>
                                <label for="_dm-disabledInlineCheckboxes2" class="form-check-label">Option 2</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input id="_dm-disabledInlineCheckboxes3" class="form-check-input" type="checkbox"
                                    autocomplete="off" value="option3" disabled>
                                <label for="_dm-disabledInlineCheckboxes3" class="form-check-label">Option 3</label>
                            </div>
                        </div>
                    </div>
                    <!-- END : Disabled inline checkboxes-->

                    <!-- Disabled radios -->
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Radios</label>
                        <div class="col-sm-9 pt-3">
                            <div class="form-check mb-2">
                                <input id="_dm-disabledBlockRadios" class="form-check-input" type="radio"
                                    name="disabledradioBlock" checked disabled>
                                <label for="_dm-disabledBlockRadios" class="form-check-label">
                                    Option 1 ( Pre-checked )
                                </label>
                            </div>

                            <div class="form-check mb-2">
                                <input id="_dm-disabledBlockRadios2" class="form-check-input" type="radio"
                                    name="disabledradioBlock" disabled>
                                <label for="_dm-disabledBlockRadios2" class="form-check-label">
                                    Option 2
                                </label>
                            </div>

                            <div class="form-check">
                                <input id="_dm-disabledBlockRadios3" class="form-check-input" type="radio"
                                    name="disabledradioBlock" disabled>
                                <label for="_dm-disabledBlockRadios3" class="form-check-label">
                                    Option 3
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- END : Disabled radios -->

                    <!-- Disabled inline radios -->
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Inline radios</label>
                        <div class="col-sm-9 pt-3">
                            <div class="form-check form-check-inline">
                                <input id="_dm-disabledInlineRadio1" class="form-check-input" type="radio"
                                    name="disabledInlineRadioOptions" value="option1" checked disabled>
                                <label for="_dm-disabledInlineRadio1" class="form-check-label">Pre-checked</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input id="_dm-disabledInlineRadio2" class="form-check-input" type="radio"
                                    name="disabledInlineRadioOptions" value="option2" disabled>
                                <label for="_dm-disabledInlineRadio2" class="form-check-label">Option 2</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input id="_dm-disabledInlineRadio3" class="form-check-input" type="radio"
                                    name="disabledInlineRadioOptions" value="option3" disabled>
                                <label for="_dm-disabledInlineRadio3" class="form-check-label">Option 3</label>
                            </div>
                        </div>
                    </div>
                    <!-- END : Disabled inline radios -->

                    <!-- Disabled file input -->
                    <div class="row mb-3">
                        <label for="_dm-disabledFileInput" class="col-sm-3 col-form-label">File input</label>
                        <div class="col-sm-9">
                            <input id="_dm-disabledFileInput" class="form-control" type="file" disabled>
                        </div>
                    </div>
                    <!-- END : Disabled file input -->

                </div>
            </div>
        </div>
    </div>
</section>