<table class="table table-strip">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Group</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>Nora</td>
            <td>Nursery</td>
            <td>&#x20B9; 2000</td>
        </tr>
        <tr>
            <td>02</td>
            <td>Aradhya</td>
            <td>Nursery</td>
            <td>&#x20B9; 2000</td>
        </tr>
    </tbody>
</table>