<app-profile></app-profile>

<ul class="navLinks pb-5">
    <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
            <i>
                <img src="assets/images/icons/dashboard@2x.png" class="img-fluid" />
            </i>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a routerLink="admissions" routerLinkActive="active">
            <i>
                <img src="assets/images/icons/admissions@2x.png" class="img-fluid" />
            </i>
            <span>Admissions</span>
        </a>
    </li>
    <li>
        <a routerLink="leave-application" routerLinkActive="active">
            <i>
                <img src="assets/images/icons/leave application@2x.png" class="img-fluid" />
            </i>
            <span>Leave Application</span>
        </a>
    </li>
    <li>
        <a routerLink="assigned-batches" routerLinkActive="active">
            <i>
                <img src="assets/images/icons/assigned batches@2x.png" class="img-fluid" />
            </i>
            <span>Assigned Batches</span>
        </a>
    </li>
    <li>
        <a routerLink="attendance" routerLinkActive="active">
            <i>
                <img src="assets/images/icons/attendance@2x.png" class="img-fluid" />
            </i>
            <span>attendance</span>
        </a>
    </li>

    <li>
        <div class="col-12">
            <div>
                <a class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    <i class="bi bi-bezier"></i>
                    <span>Components</span>
                </a>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <a routerLink="component/alert" routerLinkActive="active">
                        <i class="bi bi-exclamation-triangle"></i>
                        <span>Alert</span>
                    </a>

                    <a routerLink="component/form" routerLinkActive="active">
                        <i class="bi bi-ui-checks"></i>
                        <span>form</span>
                    </a>

                    <a routerLink="component/card-template" routerLinkActive="active">
                        <i class="bi bi-ui-checks"></i>
                        <span>Card Template</span>
                    </a>

                    <a routerLink="component/modal" routerLinkActive="active">
                        <i class="bi bi-ui-checks"></i>
                        <span>modal</span>
                    </a>

                    <a routerLink="component/list-group" routerLinkActive="active">
                        <i class="bi bi-ui-checks"></i>
                        <span>list-group</span>
                    </a>
                </div>
            </div>
        </div>

    </li>
</ul>