<app-profile></app-profile>

<ul class="navLinks">
    <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
            <i>
                <img src="assets/images/icons/dashboard@2x.png" class="img-fluid" />
            </i>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a routerLink="admissions" routerLinkActive="active">
            <i>
                <img src="assets/images/icons/admissions@2x.png" class="img-fluid" />
            </i>
            <span>Admissions</span>
        </a>
    </li>
    <li>
        <a routerLink="leave-application" routerLinkActive="active">
            <i>
                <img src="assets/images/icons/leave application@2x.png" class="img-fluid" />
            </i>
            <span>Leave Application</span>
        </a>
    </li>
    <li>
        <a routerLink="assigned-batches" routerLinkActive="active">
            <i>
                <img src="assets/images/icons/assigned batches@2x.png" class="img-fluid" />
            </i>
            <span>Assigned Batches</span>
        </a>
    </li>
    <li>
        <a routerLink="attendance" routerLinkActive="active">
            <i>
                <img src="assets/images/icons/attendance@2x.png" class="img-fluid" />
            </i>
            <span>attendance</span>
        </a>
    </li>
</ul>