<!-- <div class="toast align-items-center text-white bg-primary  hide border-0" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> -->


<!-- <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button> -->

<div class="alert alert-primary alert-dismissible">
    <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
        <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span>
        <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
</div>

<div class="alert alert-info">
    <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
        <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span>
        <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
</div>

<div class="alert alert-danger" data-notify-position="top-center">
    <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
        <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span>
        <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
</div>
<div class="alert alert-warning" data-notify-position="top-center">
    <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
        <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span>
        <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
</div>
<div class="alert alert-secondary" data-notify-position="top-center">
    <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
        <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span>
        <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
</div>
<!-- 
<button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToastBtn" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

<div class="alert alert-info alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
        <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span data-notify="icon" class="nc-icon nc-bell-55"></span>
    <span data-notify="message">This is a notification with close button and icon.</span>
</div>

<div class="alert alert-warning alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
        <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span data-notify="icon" class="nc-icon nc-bell-55"></span>
    <span data-notify="message">This is a notification with close button and icon.</span>
</div>

<button class="btn btn-danger">Top Left</button>

<div class="alert alert-danger alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
        <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span data-notify="icon" class="nc-icon nc-bell-55"></span>
    <span data-notify="message">This is a notification with close button and icon.</span>
</div>

<div class="alert alert-success alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
        <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span data-notify="icon" class="nc-icon nc-bell-55"></span>
    <span data-notify="message">This is a notification with close button and icon.</span>
</div> -->