<!-- <div class="toast align-items-center text-white bg-primary  hide border-0" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> -->


<!-- <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button> -->

<div class="row">
    <div class="col-6">
        <div class="alert alert-primary d-flex align-items-center" role="alert">
            <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
            </button>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                aria-label="Warning:">
                <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <div>
                An example alert with an icon
            </div>
        </div>

        <div class="alert alert-primary d-flex align-items-center" role="alert">
            <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
            </button>
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                <use xlink:href="#info-fill" />
            </svg>
            <div>
                An example alert with an icon
            </div>
        </div>

        <div class="alert alert-success d-flex align-items-center" role="alert">
            <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
            </button>
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill" />
            </svg>
            <div>
                An example success alert with an icon
            </div>
        </div>

        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
            </button>
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                An example warning alert with an icon
            </div>
        </div>

        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
            </button>
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                An example danger alert with an icon
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="alert alert-primary alert-dismissible">
            <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
            </button>
            <span>
                <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
        </div>

        <div class="alert alert-info">
            <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
            </button>
            <span>
                <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
        </div>

        <div class="alert alert-danger" data-notify-position="top-center">
            <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
            </button>
            <span>
                <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
        </div>

        <div class="alert alert-warning" data-notify-position="top-center">
            <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
            </button>
            <span>
                <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
        </div>

        <div class="alert alert-secondary" data-notify-position="top-center">
            <button type="button" class="btn-close" class="close" data-bs-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
            </button>
            <span>
                <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
        </div>
    </div>
</div>





<!-- 
<button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToastBtn" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

<div class="alert alert-info alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
        <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span data-notify="icon" class="nc-icon nc-bell-55"></span>
    <span data-notify="message">This is a notification with close button and icon.</span>
</div>

<div class="alert alert-warning alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
        <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span data-notify="icon" class="nc-icon nc-bell-55"></span>
    <span data-notify="message">This is a notification with close button and icon.</span>
</div>

<button class="btn btn-danger">Top Left</button>

<div class="alert alert-danger alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
        <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span data-notify="icon" class="nc-icon nc-bell-55"></span>
    <span data-notify="message">This is a notification with close button and icon.</span>
</div>

<div class="alert alert-success alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
        <i class="nc-icon nc-simple-remove"></i>
    </button>
    <span data-notify="icon" class="nc-icon nc-bell-55"></span>
    <span data-notify="message">This is a notification with close button and icon.</span>
</div> -->